@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,100,500,700,600,800,900);

body {
  background:#e6e6e6;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 2px;
  color: #666;
}

.clear {
  clear: both;
}

.wrapper {
  background-color: #ff99dd;
  width: 100%;
  margin: 20px auto;
  border-radius: 10px;
  border: solid 3px #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.pageTitle {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  color: #00e6b8;
}

.navigation {
  list-style: none;
  padding: 0px;
  margin: 20px;
  background: rgb(58,58,58);
  border-top: solid 3px #fff;
  border-bottom: solid 3px #fff;
  /*
  box-shadow:  0px -2px 3px -1px rgba(0, 0, 0, 1);
  */
}

.navigation {
  background-color: #808080;
}
.navigation li {
  float: left;
}

.navigation li:hover {
  background: #222;
}

.navigation li:first-child {
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 0 0 5px;
}

.navigation li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  line-height: 40px;
  color: #00e6b8;
}

.navigation ul {
  display: none;
  position: absolute;
  list-style: none;
  margin-left: -3px;
  padding: 0;
  overflow: hidden;
}

.navigation ul li {
  float: none;
}

.navigation li:hover > ul {
  display: block;
  background: #222;
  border: solid 3px #fff;
  border-top: 0;
}
  

.navigation li:hover > ul {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.navigation li li a:hover {
  background: #000;
}

.navigation ul li:last-child a,
.navigation ul li:last-child a:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.main-info {
color:#00dddd;
background-color: #8c8c8c; 
/*text-shadow: #333333; */
text-shadow: 2px 2px 4px #333333;
width: 400px;
border-radius: 40px;
size: 70%;
height: 40px;
}


.main-info p {
    font-family: "Poiret", Poiret, serif;
   /** padding-top:-35px;**/
       padding-top: 18px;


    font-size: 60px;
}

.img-wrapper img {

}

.first-section {
  /*width: 40%;*/
  float: left;
}

.first-section img{
  width: 40%; 
}

.second-section {
  float: right;
}

.second-section p{
/*  margin-left: 1000;
  margin-top: -15%;*/
  margin-left: -540px;
  margin-top: -180px;
}

input {
  width: 300px;
  font-size: 13px;
  padding: 6px 0 4px 10px;
  border: 3px solid #00dddd;
  background: #F6F6f6;
  border-radius: 8px;
  margin-top: 40px;
 
}